---
import { xmlToJsonUtil } from "xml-to-json-util";
const req = await fetch(
  "https://www.youtube.com/feeds/videos.xml?channel_id=UCUSxKiac-miugK9CDsxGS9Q"
);

const xml = await req.text();

const parsedXml = xmlToJsonUtil(xml);

const finalVideos = parsedXml.feed.entry.slice(0, 3).map((video: any) => {
  return {
    title: video.title,
    id: video["yt:videoId"],
  };
});

import PlayButton from "../assets/play.svg";
---

<div class="flex gap-4 flex-wrap">
  {
    finalVideos.map(({ title, id }) => (
      <div class="border-2 p-2 rounded w-60 h-40 grid place-items-center">
        <a href={`https://www.youtube.com/watch?v=${id}`}>
          <img
            src={`https://img.youtube.com/vi/${id}/maxresdefault.jpg`}
            alt={title}
            width={300}
            height={165}
          />
        </a>
        <PlayButton class="absolute text-white" />
      </div>
    ))
  }
</div>
